{% extends "base.html" %} {% block content %}
<div class="container">
    <h2 class="list-group-item list-group-item-primary">Hello, {{user.username}}</h2>
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="table-secondary">
                <th scope="col">Sl.No</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Age</th>
                <th scope="col">Temp</th>
                <th scope="col">Social distance</th>
                <th scope="col">Travel</th>
                <th scope="col">Symptoms</th>
                <th scope="col">Diseases</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr class="table-light">
                <th scope="row">{{forloop.counter0|add:"1"}}</th>
                <td>{{d.timestamp}}</td>
                <td>{{p.age}}</td>
                <td>{{d.temperature}}</td>
                <td>{{d.social_distance}}</td>
                <td>{% if d.travel %} yes {% else %} no {% endif %}</td>
                <td>{{d.current_symptoms}}</td>
                <td>{{d.previous_diseases}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}