{% extends "base.html" %} {% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <h2 class="list-group-item list-group-item-primary">{{user.username}}'s Details</h2>
    {% endif %}
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col text-info font-weight-bold">Name</div>
                <div class="col font-italic">{{person.name}}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col text-info font-weight-bold">Age</div>
                <div class="col font-italic">{{person.age}}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col text-info font-weight-bold">College ID</div>
                <div class="col font-italic">{{person.username}}</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col text-info font-weight-bold">Mobile no</div>
                <div class="col font-italic">{{person.mobile_no}}</div>
            </div>
        </li>
    </ul>
    <div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight"><a type="button" class="btn btn-info text-white" href="profile_update">Update</a></div>
    </div>

</div>
{% endblock %}